page-question-answers {
    .icon-right {
        position: absolute;
        right: 0;
        margin: 2px !important;
    }
    .answer {
        color: gray;
    }
    ion-icon {
        font-size: 1.5em;
    }
}