page-register {
    .btn-skip {
        z-index: 999;
    }
    .register {
        height: 100%;
        // justify-content: center;
        margin-top: 20vw;
        .image-logo {
            width: 100% !important;
        }
    }
    .social-icon-fb {
        margin-top: 3px;
        width: 24px !important;
    }
    .social-icon-email {
        margin-top: 3px;
        width: 24px !important;
    }
}