page-my-purchases {
    ion-segment {
        display: block;
        white-space: nowrap !important;
        overflow-x: scroll !important;
        overflow-y: hidden !important;
        height: 44px !important;
        .segment-button {
            display: inline-block !important;
            min-width: 100px !important;
            width: auto !important;
            border: 0 !important;
            font-size: 14px !important;
            color: $app !important;
        }
        .segment-button.segment-activated {
            color: $app !important;
            border-bottom: 4px solid $app !important;
            width: auto !important;
        }
    }
}