<ion-header>

  <ion-navbar>
    <ion-title>
      {{ 'MY_PURCHASES' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-toolbar class="tabsHeight">
    <ion-content #MultiItemsScrollingTabs class="tabsContent">
      <ion-segment class="SwipedTabs-tabs">
        <ion-segment-button *ngFor='let tab of tabs ; let i = index ' id="tabTitle{{i}}" value="IngoreMe" (click)="selectTab(i)"
          [ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === i || (  tabs.length -1 === i&& this.SwipedTabsSlider.isEnd()))) }'>
          {{tab | translate}}
        </ion-segment-button>
      </ion-segment>
      <div id='indicator' class="SwipedTabs-indicatorSegment"></div>
    </ion-content>
  </ion-toolbar>

  <ion-slides #SwipedTabsSlider (ionSlideDrag)="animateIndicator($event)" (ionSlideDidChange)="updateIndicatorPosition()" (ionSlideWillChange)="scrollIndicatiorTab()"
    (panend)="updateIndicatorPositionOnTouchEnd()" [pager]="false">
    <!-- 1 -->
    <ion-slide>
      <ion-scroll scrollY>
        <div class="checkout-product-shipping">
          <div class="product" *ngFor="let item of [1,2,3,4,5]" (click)="selectPurchases(item)">
            <ion-list  mode="md" class="list-item">
              <ion-item>
                <ion-thumbnail item-start>
                  <img src="https://firebasestorage.googleapis.com/v0/b/green-vintage.appspot.com/o/images%2F1517541306.png?alt=media&token=de229681-1257-4849-9e7b-cb84a54bf063"
                    alt="">
                  <!-- <preload-image class="products-image" [ratio]="{w:1, h:1}" [src]="item.product.images[0]"></preload-image> -->
                </ion-thumbnail>
                <ion-label stacked>
                  <h2 class="product-name">กระโปรงผ้าแวนวาส ลายริ้ว สีดำ แต่งกระดุม ยางยืดหลัง เอว 38 ยืดได้ 48 สะโพก 52 ตัวยาว 31 นิ้ว</h2>
                  <p>1,500 {{ 'THB' | translate }}</p>
                  <p>{{ 'QTY' | translate }}: 2</p>
                  <p>{{ 'SHIPPING_TYPE' | translate }}: ส่งฟรี</p>
                </ion-label>
              </ion-item>
            </ion-list>
            <ion-list  mode="md" class="shipping">
              <ion-item>
                <ion-label text-right class="price">
                  <b>{{ 'TOTAL_FEE' | translate }}: 3,000 {{ 'THB' | translate }}</b>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-scroll>
    </ion-slide>
    <!-- 2 -->
    <ion-slide>
      <ion-scroll scrollY>
        <div class="checkout-product-shipping">
          <div class="product" *ngFor="let item of [1,2,3,4,5]">
            <ion-list  mode="md" class="list-item"  (click)="selectPurchases(item)">
              <ion-item>
                <ion-thumbnail item-start>
                  <img src="https://firebasestorage.googleapis.com/v0/b/green-vintage.appspot.com/o/images%2F1517541306.png?alt=media&token=de229681-1257-4849-9e7b-cb84a54bf063"
                    alt="">
                  <!-- <preload-image class="products-image" [ratio]="{w:1, h:1}" [src]="item.product.images[0]"></preload-image> -->
                </ion-thumbnail>
                <ion-label stacked>
                  <h2 class="product-name">กระโปรงผ้าแวนวาส ลายริ้ว สีดำ แต่งกระดุม ยางยืดหลัง เอว 38 ยืดได้ 48 สะโพก 52 ตัวยาว 31 นิ้ว</h2>
                  <p>1,500 {{ 'THB' | translate }}</p>
                  <p>{{ 'QTY' | translate }}: 2</p>
                  <p>{{ 'SHIPPING_TYPE' | translate }}: ส่งฟรี</p>
                </ion-label>
              </ion-item>
            </ion-list>
            <ion-list  mode="md" class="shipping">
              <ion-item>
                <ion-label text-left>
                  <b>{{ 'SHIPPING_DATE' | translate }} 01/01/18</b>
                </ion-label>
                <ion-label text-right class="price">
                  <b>{{ 'TOTAL_FEE' | translate }}: 3,000 {{ 'THB' | translate }}</b>
                </ion-label>
              </ion-item>
            </ion-list>
            <button class="btn" full small ion-button item-end color="danger">{{ 'ON_RECEIPT' | translate}}</button>
          </div>
        </div>
      </ion-scroll>
    </ion-slide>
    <!-- 3 -->
    <ion-slide>
      <ion-scroll scrollY>
        <div class="checkout-product-shipping">
          <div class="product" *ngFor="let item of [1,2,3,4,5]" (click)="selectPurchases(item)">
            <ion-list  mode="md" class="list-item">
              <ion-item>
                <ion-thumbnail item-start>
                  <img src="https://firebasestorage.googleapis.com/v0/b/green-vintage.appspot.com/o/images%2F1517541306.png?alt=media&token=de229681-1257-4849-9e7b-cb84a54bf063"
                    alt="">
                  <!-- <preload-image class="products-image" [ratio]="{w:1, h:1}" [src]="item.product.images[0]"></preload-image> -->
                </ion-thumbnail>
                <ion-label stacked>
                  <h2 class="product-name">กระโปรงผ้าแวนวาส ลายริ้ว สีดำ แต่งกระดุม ยางยืดหลัง เอว 38 ยืดได้ 48 สะโพก 52 ตัวยาว 31 นิ้ว</h2>
                  <p>1,500 {{ 'THB' | translate }}</p>
                  <p>{{ 'QTY' | translate }}: 2</p>
                  <p>{{ 'SHIPPING_TYPE' | translate }}: ส่งฟรี</p>
                </ion-label>
              </ion-item>
            </ion-list>
            <ion-list  mode="md" class="shipping">
              <ion-item>
                <ion-label text-left>
                  <b>{{ 'RECEIPT_DATE' | translate }} 03/01/18</b>
                </ion-label>
                <ion-label text-right class="price">
                  <b>{{ 'TOTAL_FEE' | translate }}: 3,000 {{ 'THB' | translate }}</b>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-scroll>
    </ion-slide>
    <!-- 4 -->
    <ion-slide>
      <ion-slide>
        <ion-scroll scrollY>
          <div class="checkout-product-shipping">
            <div class="product" *ngFor="let item of [1,2,3,4,5]" (click)="selectPurchases(item)">
              <ion-list  mode="md" class="list-item">
                <ion-item>
                  <ion-thumbnail item-start>
                    <img src="https://firebasestorage.googleapis.com/v0/b/green-vintage.appspot.com/o/images%2F1517541306.png?alt=media&token=de229681-1257-4849-9e7b-cb84a54bf063"
                      alt="">
                    <!-- <preload-image class="products-image" [ratio]="{w:1, h:1}" [src]="item.product.images[0]"></preload-image> -->
                  </ion-thumbnail>
                  <ion-label stacked>
                    <h2 class="product-name">กระโปรงผ้าแวนวาส ลายริ้ว สีดำ แต่งกระดุม ยางยืดหลัง เอว 38 ยืดได้ 48 สะโพก 52 ตัวยาว 31 นิ้ว</h2>
                    <p>1,500 {{ 'THB' | translate }}</p>
                    <p>{{ 'QTY' | translate }}: 2</p>
                    <p class="danger">
                      <b>{{ 'CANCEL_RECEIPT' | translate }}</b>
                    </p>
                  </ion-label>
                </ion-item>
              </ion-list>
              <ion-list  mode="md" class="shipping">
                <ion-item>
                  <ion-label text-left>
                    <b>{{ 'CANCEL_DATE' | translate }} 01/01/18</b>
                  </ion-label>
                  <ion-label text-right class="price">
                    <b>{{ 'TOTAL_FEE' | translate }}: 3,000 {{ 'THB' | translate }}</b>
                  </ion-label>
                </ion-item>
              </ion-list>
            </div>
          </div>
        </ion-scroll>
      </ion-slide>
    </ion-slide>
  </ion-slides>
</ion-content>
