page-product-detail {
    ion-slides {
        height: auto !important;
    }
    .fixed {
        position: fixed;
    }
    .count {
        margin-top: 14px;
        margin-bottom: 50px;
        .count-radias {
            border-radius: 100% !important;
            height: 45px;
            .button-inner {
                font-size: 25px !important;
            }
        }
        .count-radiascenter {
            height: 70px;
            width: 70px;
            border-radius: 100% !important;
            .button-inner {
                font-size: 25px !important;
            }
        }
    }
    .header-md::after {
        background-image: none !important;
    }
    .toolbar-background {
        background-color: transparent !important;
        border: none !important;
    }
    .close-close {
        .button-inner {
            font-size: 25px !important;
        }
    }
    .btn-add-cart {
        padding: 0px;
    }
    .bar-button-default-ios {
        color: #eb3841 !important;
    }
    .bar-button-default-md {
        color: #eb3841 !important;
    }
    .swiper-pagination-bullet-active {
        background: #eb3841 !important;
        opacity: 1;
    }
    .slide-product {
        img {
            width: 100vw !important;
            height: 100vw !important;
            object-fit: cover;
        }
    }
    .name {
        margin-left: 43px !important;
    }
    .favorite {
        padding: 16px 16px 16px 26px !important;
        height: 32px !important;
        color: #F44336; // position: absolute;
        z-index: 9999;
        bottom: 0px;
        right: 14px;
        font-size: 30px;
        // background-color: #21262b;
        height: 50px !important;
        width: 70px;
    }
    .favorite-btn {
        margin-top: -58px;
        text-align: right;
    }
    .item-divider-md {
        padding-left: 16px;
        border-bottom: none !important;
        height: 40px !important;
    }
}