<ion-content *ngIf="productData && productData.name">
  <ion-header class="fixed">
    <ion-navbar>
      <ion-buttons end>
        <button ion-button color="drak" large (click)="close()" class="close-close">
          <ion-icon name="md-close-circle"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

  <ion-slides pager>
    <ion-slide *ngFor="let item of productData.images">
      <preload-image class="slide-product" [ratio]="{w:1, h:1}" [src]="item" title="ads"></preload-image>
    </ion-slide>
  </ion-slides>
  <p class="position-star"></p>
  <h2 padding-left padding-right text-center>{{productData.name}}
    <button ion-button icon-left clear large *ngIf="user" class="favorite" (click)="onFavorite()">
      <ion-icon *ngIf="!productData.isFavorite" name="md-star-outline"></ion-icon>
      <ion-icon *ngIf="productData.isFavorite" name="md-star"></ion-icon>
    </button>
  </h2>
  <p padding-left padding-right>
    {{ productData.detail }}
  </p>
  <div text-center class="count">
    <button ion-button outline color="bite" class="count-radias" (click)="countDelete()">-</button>
    <button ion-button round color="bite" class="count-radiascenter">{{numberCount}}</button>
    <button ion-button outline color="bite" class="count-radias" (click)="countPlus()">+</button>
  </div>

</ion-content>

<ion-footer class="footer-product" *ngIf="productData && productData.name">
  <ion-toolbar>
    <button ion-button block color="app" class="btn-add-cart" (click)="addToCart()">
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            {{numberCount}}
          </ion-col>
          <ion-col col-4>
            {{ 'ADD_TO_CART' | translate }}
          </ion-col>
          <ion-col col-4>
            ({{amount | number:'0.2-2'}} {{ 'THB' | translate}})
          </ion-col>
        </ion-row>
      </ion-grid>
    </button>
  </ion-toolbar>
</ion-footer>
