<ion-content *ngIf="productData && productData.name">
  <ion-header class="fixed">
    <ion-navbar>
      <ion-buttons end>
        <button ion-button color="drak" large (click)="close()" class="close-close">
          <ion-icon name="md-close-circle"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

  <ion-slides pager>
    <ion-slide *ngFor="let item of productData.images">
      <preload-image class="slide-product" [ratio]="{w:1, h:1}" [src]="item" title="ads"></preload-image>
    </ion-slide>
  </ion-slides>
  <ion-row>
    <ion-col col-10 no-padding>
      <h2 padding-left text-left>{{productData.name}}
      </h2>
      <h4 padding-left text-left class="price">
        {{amount | number:'0.2-2'}} {{ 'THB' | translate}}
      </h4>
    </ion-col>
    <ion-col col-2>
      <!-- <div class="favorite-btn"> -->
      <button ion-button icon-left clear large *ngIf="user" class="favorite" (click)="onFavorite()">
        <ion-icon *ngIf="!productData.isFavorite" name="md-heart-outline"></ion-icon>
        <ion-icon *ngIf="productData.isFavorite" name="md-heart"></ion-icon>
      </button>
      <!-- </div> -->
    </ion-col>
    <ion-col col-12 no-padding padding-left>
      <ion-badge color="danger" *ngIf="productData.ispromotion">{{ 'PROMOTION' | translate }}</ion-badge>
      <ion-badge color="primary" *ngIf="productData.ispopular">{{ 'POPULAR' | translate }}</ion-badge>
      <ion-badge color="secondary" *ngIf="productData.isrecommend">{{ 'RECOMMEND' | translate }}</ion-badge>
    </ion-col>
  </ion-row>

  <ion-card>
    <ion-card-header (click)="toggleAddccoding()">
      {{ 'VIEW_DETAIL' | translate }}
      <ion-icon color="success" item-end class="exp" [name]="accordion ? 'ios-arrow-dropdown-outline' : 'ios-arrow-dropright-outline'"></ion-icon>
    </ion-card-header>

    <ion-card-content #cont>
      {{ productData.detail }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header (click)="toggleAddccodingShip()">
      {{ 'SHIPPING_TYPE' | translate }}
      <ion-icon color="success" item-end class="exp" [name]="accordionShip ? 'ios-arrow-dropdown-outline' : 'ios-arrow-dropright-outline'"></ion-icon>
    </ion-card-header>

    <ion-card-content #ship>
      <ion-list mode="md">
        <ion-item *ngFor="let item of productData.shippings">
          <h2>{{item.ref.name}}
          </h2>
          <p>{{item.ref.detail}}</p>
          <p *ngIf="item.price && item.price > 0">{{'PRICE' | translate}} {{item.price}} {{'THB' | translate}}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- <ion-item-divider color="light">
    <ion-icon name="pin"></ion-icon>
    <b>{{ 'SHIPPING_TYPE' | translate }}</b>
  </ion-item-divider>
  <ion-list>
    <ion-item *ngFor="let item of productData.shippings">
      <h2>{{item.ref.name}}
      </h2>
      <p>{{item.ref.detail}}</p>
      <p *ngIf="item.price && item.price > 0">{{'PRICE' | translate}} {{item.price}} {{'THB' | translate}}</p>
    </ion-item>
  </ion-list> -->

  <div text-center class="count">
    <button ion-button outline color="bite" class="count-radias" (click)="countDelete()">-</button>
    <button ion-button round color="bite" class="count-radiascenter">{{numberCount}}</button>
    <button ion-button outline color="bite" class="count-radias" (click)="countPlus()">+</button>
  </div>
</ion-content>

<ion-footer *ngIf="productData && productData.name">
  <ion-toolbar>
    <button ion-button block color="app" class="btn-add-cart" (click)="addToCart()">
      <ion-grid>
        <ion-row>
          <!-- <ion-col col-4>
            {{numberCount}}
          </ion-col> -->
          <ion-col col-12>
            {{ 'ADD_TO_CART' | translate }}
          </ion-col>
          <!-- <ion-col col-4>
            ({{amount | number:'0.2-2'}} {{ 'THB' | translate}})
          </ion-col> -->
        </ion-row>
      </ion-grid>
    </button>
  </ion-toolbar>
</ion-footer>
