page-profile {
    .toolbar-background {
        background: #f7f7f7 !important;
    }
    .content {
        color: #000;
        background-color: #f7f7f7;
    }
    .arvatar {
        width: 30vw !important;
        border-radius: 100%;
        height: 30vw;
        object-fit: cover;
    }
    img {
        max-width: none !important;
    }
    .segment-md-light .segment-button.segment-activated {
        border: none;
        background-color: #b3222f;
        opacity: 1;
    }
    .segment-button {
        font-size: medium !important;
    }
    .text-name {
        color: $app;
    }
    .item-inner {
        margin-left: 8px !important;
    }
    .badge-position {
        position: absolute;
        right: -14px;
        top: -2px;
    }
}