<ion-header no-border>
  <ion-navbar>
    <ion-buttons left *ngIf="user">
      <button ion-button icon-only (click)="profileNotifications()">
        <ion-icon name="md-mail"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="user">{{ 'PROFILE' | translate}}</ion-title>
    <ion-buttons right *ngIf="user">
      <button ion-button icon-only (click)="profileEdit()">
        <ion-icon name="md-create"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <ion-buttons right>
      <button ion-button icon-only (click)="profileSettings()">
        <ion-icon name="md-settings"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content no-bounce>

  <div>
    <ion-grid *ngIf="user">
      <ion-row>
        <ion-col col-12 text-center>
          <img src="{{ user.profileImageURL }}" class="arvatar">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 text-center>
          <h4 class="text-name">
            <b>{{ user.displayName }}</b>
          </h4>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list>
      <button ion-item item-start (click)="login()" *ngIf="!user">
        <ion-icon item-start>
          <img src="./assets/icon/more/login.png" width="30">
        </ion-icon>
        <span>{{ 'LOGIN' | translate }}</span>
      </button>
      <button ion-item item-start (click)="myPurchases()" *ngIf="user">
        <ion-icon item-start>
          <img src="./assets/icon/more/purchase.png" width="30">
        </ion-icon>
        {{ 'MY_PURCHASES' | translate }}
      </button>
      <button ion-item item-start (click)="favorite()" *ngIf="user">
        <ion-icon item-start>
          <img src="./assets/icon/more/favorite.png" width="30">
        </ion-icon>
        {{ 'FAVORITE' | translate }}
      </button>
      <button ion-item item-start *ngIf="user && user.provider ==='local'" (click)="changePassword()">
        <ion-icon item-start>
          <img src="./assets/icon/more/key.png" width="30">
        </ion-icon>
        {{ 'CHANGE_PASSWORD' | translate }}
      </button>
      <button ion-item item-start (click)="onQA()">
        <ion-icon item-start>
          <img src="./assets/icon/more/question.png" width="30">
        </ion-icon>
        {{ 'QUESTIONS_&_ANSWERS' | translate }}
      </button>
      <button ion-item item-start (click)="onContact()">
        <ion-icon item-start>
          <img src="./assets/icon/more/pin.png" width="30">
        </ion-icon>
        {{ 'CONTACT' | translate }}
      </button>
      <button ion-item item-start (click)="onSetting()">
        <ion-icon item-start>
          <img src="./assets/icon/more/settings.png" width="30">
        </ion-icon>
        {{ 'SETTINGS' | translate }}
      </button>
    </ion-list>
    <ion-list *ngIf="user && user.username">
      <button ion-item item-start (click)="logout()">
        <ion-icon item-start>
          <img src="./assets/icon/more/logout.png" width="30">
        </ion-icon>
        {{ 'LOGOUT' | translate }}
      </button>
    </ion-list>
  </div>

  <div text-right>
    <span>v.1.0.0</span>
  </div>
</ion-content>
