<ion-header>
  <ion-navbar color="app">
    <ion-title>{{ 'HOME' | translate }}</ion-title>
  </ion-navbar>
  <search-input></search-input>
</ion-header>

<ion-content no-bounce #content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down" pullingText="{{ 'PULL_TO_REFRESH' | translate }}" refreshingSpinner="dots"
      refreshingText="{{ 'REFRESHING' | translate }}"></ion-refresher-content>
  </ion-refresher>
  <div class="bid">
    <!-- <ion-grid>
      <ion-row>
        <ion-col col-6 text-left>
          <b>{{ 'BID' | translate }}</b>
        </ion-col>
      </ion-row>
    </ion-grid> -->
    <ion-scroll scrollX="true" *ngIf="homeItem && homeItem.bid">
      <ion-row class="row-custom">
        <ion-col col-3 col-md-2 col-lg-2 *ngFor="let item of homeItem.bid;" (click)="toBidDetail(item)">
          <preload-image class="{{ item.isBid ? 'preload-image-true' : 'preload-image-false'}}" [ratio]="{w:1, h:1}" [src]="item.image"
            title="bid"></preload-image>
          <ion-badge color="danger" class="ion-badge-status" *ngIf="item.isBid">
            <ion-icon name="icon-tab-bid"></ion-icon>
          </ion-badge>
          <ion-badge color="primary" class="ion-badge-status" *ngIf="!item.isBid">
            <ion-icon name="icon-time-two" class="alarm"></ion-icon>
          </ion-badge>
        </ion-col>
      </ion-row>
    </ion-scroll>
  </div>

  <div *ngIf="homeItem && homeItem.bid">
    <!-- <ion-grid>
      <ion-row>
        <ion-col col-6 text-left>
          <b>{{ 'PRODUCTS' | translate }}</b>
        </ion-col>
      </ion-row>
    </ion-grid> -->
    <grid-special [items]="homeItem.items" (callbackItem)="selected($event)"></grid-special>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="10%" *ngIf="isInfinite">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>