<ion-header>

  <ion-navbar color="app">
    <ion-title>{{ 'BID' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce>

  <div padding>
    <ion-segment mode="ios" color="app" [(ngModel)]="index">
      <ion-segment-button value="0">
        {{ 'BID_NOW' | translate }}
      </ion-segment-button>
      <ion-segment-button value="1">
        {{ 'BIT_COMING' | translate }}
      </ion-segment-button>
      <ion-segment-button value="2">
        {{ 'BIT_ME' | translate }}
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-grid *ngIf="bidData.items && bidData.items[index] && bidData.items[index].items">
    <ion-row>
      <ion-col col-6 col-md-4 col-lg-4 class="col-grid" *ngFor="let item of bidData.items[index].items">
        <ion-card (click)="toBidDetail()">
          <ion-card-content>
            <preload-image class="products-image" [ratio]="{w:1, h:1}" [src]="item.image"></preload-image>
          </ion-card-content>
          <div *ngIf="item.isBid">
            <p text-center>{{ 'TIME_LEFT' | translate }}</p>
            <ion-row no-padding *ngIf="item.timeleft">
              <ion-col col-12 no-padding text-center>
                <b class="col-red">{{item.timeleft}}</b>
              </ion-col>
            </ion-row>
          </div>
          <div *ngIf="!item.isBid">
            <p text-center>{{ 'TIME_BID' | translate }}</p>
            <ion-row no-padding>
              <ion-col col-12 class="col-green" no-padding text-center>
                {{ item.datestart | date:'dd/MM/yy - HH:mm' }}
              </ion-col>
            </ion-row>
          </div>
          <ion-row>
            <ion-col col-12 text-left class="price">
              <p *ngIf="item.isBid" class="current">{{ 'PRICE' | translate }}
                <span class="price-no-bid">{{ item.price | number }} ฿</span>
              </p>
              <p *ngIf="!item.isBid">{{ 'START_PRICE' | translate }}
                <span class="price-no-bid">{{ item.pricestart | number }} ฿</span>
              </p>
              <p>
                <b>{{ 'PLACE_BID' | translate }}
                  <span class="price-no-bid">{{ item.pricebid | number }} ฿</span>
                </b>
              </p>
            </ion-col>
            <ion-col col-12 text-center>
              <button *ngIf="item.isBid" ion-button block small class="buttun-hammer" color="app">
                <ion-icon ios="ios-hammer" md="md-hammer"></ion-icon>&nbsp; {{ 'BID_NOW_' | translate }}
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
