<ion-header>

  <ion-navbar color="app">
    <ion-title>{{ 'BID' | translate }}</ion-title>
  </ion-navbar>

  <div class="padding-seg">
    <ion-segment mode="ios" color="app" [(ngModel)]="index">
      <ion-segment-button value="0" (click)="selectTabs('0')">
        {{ 'BID_NOW' | translate }}
      </ion-segment-button>
      <ion-segment-button value="1" (click)="selectTabs('1')">
        {{ 'BIT_COMING' | translate }}
      </ion-segment-button>
      <ion-segment-button value="2" *ngIf="user" (click)="selectTabs('2')">
        {{ 'BIT_ME' | translate }}
      </ion-segment-button>
    </ion-segment>
  </div>

</ion-header>


<ion-content no-bounce>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down" pullingText="{{ 'PULL_TO_REFRESH' | translate }}" refreshingSpinner="dots"
      refreshingText="{{ 'REFRESHING' | translate }}"></ion-refresher-content>
  </ion-refresher>

  <ion-grid *ngIf="bidData.items && bidData.items[index] && bidData.items[index].items">
    <ion-row>
      <ion-col col-6 col-md-4 col-lg-4 class="col-grid" *ngFor="let item of bidData.items[index].items">
        <ion-card (click)="toBidDetail(item)">
          <ion-card-content>
            <preload-image class="products-image" [ratio]="{w:1, h:1}" [src]="item.image"></preload-image>
            <!-- <ion-icon *ngIf="item.iswin" name="ios-ribbon" class="icon-win"></ion-icon> -->
            <img *ngIf="item.iswin" src="./assets/icon/bid/icon-win2.png" class="icon-win">
          </ion-card-content>
          <div *ngIf="item.isBid">
            <p text-center>{{ 'TIME_LEFT' | translate }}</p>
            <ion-row no-padding *ngIf="item.timeleft">
              <ion-col col-12 no-padding text-center>
                <b class="col-red" *ngIf="item.timeleft">{{item.timeleft}}</b>
              </ion-col>
            </ion-row>
          </div>
          <div *ngIf="!item.isBid">
            <p text-center *ngIf="index !== '2'">{{ 'TIME_BID' | translate }}</p>
            <p class="col-red" text-center *ngIf="index === '2'">{{ 'TIME_END' | translate }}</p>
            <ion-row no-padding *ngIf="index !== '2'">
              <ion-col col-12 class="col-green" no-padding text-center>
                {{ item.datestart | date:'dd/MM/yy'}} {{getTimeOnly(item.datestart)}}
              </ion-col>
            </ion-row>
          </div>
          <ion-row>
            <ion-col col-12 text-left class="price">
              <p *ngIf="!item.isBid || index === '2' ">{{ 'START_PRICE' | translate }}
                <span class="price-no-bid">{{ item.pricestart | number }} ฿</span>
              </p>
              <p *ngIf="item.isBid || index === '2'" class="current">{{ 'PRICE' | translate }}
                <span class="price-no-bid">{{ item.price | number }} ฿</span>
              </p>
              <p *ngIf="index !== '2' ">
                <b>{{ 'PLACE_BID' | translate }}
                  <span class="price-no-bid">{{ item.pricebid | number }} ฿</span>
                </b>
              </p>
            </ion-col>
            <ion-col col-12 text-center>
              <button *ngIf="item.isBid" ion-button block small class="buttun-hammer" color="app">
                <ion-icon name="icon-tab-bid"></ion-icon>&nbsp; {{ 'BID_NOW_' | translate }}
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
