page-bid-list {
    .padding-seg {
        padding: 8px 16px 8px 16px;
    }
    ion-card-content {
        padding: 4px !important;
    }
    .price-no-bid {
        position: absolute;
        right: 8px !important;
    }
    .current {
        color: $app;
        font-weight: bold;
    }
    .col-red {
        color: #f44336;
    }
    .col-green {
        color: $app;
    }
    .card {
        box-shadow: none !important;
        border: 1px solid;
        color: #c6c2c2;
        background-color: #f4f4f4;
        margin: 0px !important;
        width: 100%;
    }
    .col-grid {
        padding: 5px !important;
    }
    .button {
        box-shadow: none !important;
    }
    .price {
        padding-left: 8px !important;
    }
    .timer-custom {
        background-color: black;
        padding: 3px 6px 3px 6px;
        margin: 3px;
        color: #ffffff;
    }
    .buttun-hammer {
        margin: 0px !important;
        .button-inner {
            margin-left: -10px;
        }
    }
    .icon-win {
        position: absolute;
        right: 4px;
        top: 4px;
        width: 34px;
        color: #FFEB3B;
    }
}