page-bid-list {
    ion-card-content {
        padding: 5px 5px 5px 5px !important;
    }
    .price-no-bid {
        position: absolute;
        right: 16px !important;
    }
    .current {
        color: $app;
        font-weight: bold;
    }
    .col-red {
        color: red;
    }
    .card {
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
        border: 1px solid;
        color: $app;
        height: 95%;
        border-radius: 7px !important;
        img {
            border-radius: 7px !important;
        }
    }
    .col-grid {
        padding: 0px 0px 0px 0px !important;
    }
    .button {
        box-shadow: none !important;
    }
}