page-notification-detail {
    h3 {
        font-size: 22px !important;
        font-weight: bold !important;
    }
    p {
        font-size: 17px !important;
        color: rgb(163, 163, 163)
    }
}
