page-walkthrough {
    .scroll-content {
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }
    .button {
        position: absolute;
        top: 2px;
        right: 2px;
        z-index: 999;
    }
    .text {
        font-size: 1.5em;
        padding: 0px;
        color: $app;
        margin: 0px !important;
    }
    .text-skip {
        padding: 8px;
        color: $app;
    }
    .swiper-pagination-bullet-active {
        background: $app;
        opacity: 1;
    }
    .swiper-container {
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }
    .bg-slide {
        .logo {
            max-width: 240px !important;
        }
    }
}