<ion-content no-bounce>
  <ion-slides pager>
    <ion-slide class="bg-slide">
      <ion-row>
        <ion-col col-12>
          <img src="./assets/imgs/greeting/gvin1.png" class="logo">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <p class="text">Welcome to</p>
          <p class="text">Green Vintage Shop</p>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide class="bg-slide">
      <ion-row>
        <ion-col col-12>
          <img src="./assets/imgs/greeting/gvin2.png" class="logo">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <p class="text" *ngIf="language ==='th'">Limited edition</p>
          <p class="text" *ngIf="language ==='th'">ช๊อปได้ไม่ซ้ำใคร</p>
          <p class="text" *ngIf="language ==='en'">Limited Edition</p>
          <p class="text" *ngIf="language ==='en'">Unique Shop</p>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide class="bg-slide">
      <ion-row>
        <ion-col col-12>
          <img src="./assets/imgs/greeting/gvin3.png" class="logo">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <p class="text" *ngIf="language ==='th'">แอพเดียวที่ได้ทั้งช๊อป</p>
          <p class="text" *ngIf="language ==='th'">และประมูลออนไลน์</p>
          <p class="text" *ngIf="language ==='en'">A single application for both shopping and online auctions.</p>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide class="bg-slide">
      <ion-row>
        <ion-col col-12>
          <img src="./assets/imgs/greeting/gvin4.png" class="logo">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <p class="text" *ngIf="language ==='th'">ตรวจสอบสถานะการสั่งซื้อได้ด้วยตัวคุณเองผ่านแอพ</p>
          <p class="text" *ngIf="language ==='en'">Check the status of your order from your own application.</p>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide class="bg-slide">
      <ion-row>
        <ion-col col-12>
          <img src="./assets/imgs/greeting/gvin5.png" class="logo">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <p class="text" *ngIf="language ==='th'">ปลอดภัย มั่นใจทุกการสั่งซื้อ</p>
          <p class="text" *ngIf="language ==='th'">การันตีโดย green vintage</p>
          <p class="text" *ngIf="language ==='en'">Green Vintage guarantees the safety of all orders</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-8>
          <button ion-button block color="app" (click)="goToLogin()">{{ 'SHOP_NOW' | translate }}</button>
        </ion-col>
        <ion-col col-2></ion-col>
      </ion-row>
    </ion-slide>
  </ion-slides>
  <button ion-button clear color="dark" class="text-skip" (click)="goToLogin()">{{ 'SKIP' | translate }}</button>
</ion-content>
