// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url('https://fonts.googleapis.com/css?family=Kanit');
ion-app {
    font-family: 'Kanit', sans-serif !important;
}

.toolbar-title-md {
    text-align: center;
}

.toolbar-md ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    button {
        color: $app;
    }
}

.bar-button-default-ios,
.bar-button-default.bar-button-ios-default,
.bar-button-clear-ios-default {
    color: $app;
    background-color: transparent;
}

.bar-button-default-md,
.bar-button-default.bar-button-md-default,
.bar-button-clear-md-default {
    color: $app;
    background-color: transparent;
}

.toolbar-background {
    background: #ffffff !important;
}

.toolbar-title {
    color: $app !important;
}

.header-md::after {
    background-image: none !important;
}

.header-ios .toolbar-ios:last-child .toolbar-background-ios {
    border-width: 0px !important;
}

.tabs-ios .tab-button {
    -webkit-text-stroke: 1px !important;
}

.scroll-content {
    overflow: auto !important;
}

ion-footer {
    height: 50px !important;
    .button {
        margin-top: 2px !important;
        height: 46px !important;
        border-radius: 0px !important;
    }
}

.footer-md::before {
    background-image: none !important;
}

.footer-ios .toolbar-background-ios {
    border-color: transparent !important;
}

.button-md {
    border-radius: 0px !important;
}

.tabs-ios .tab-button {
    -webkit-text-stroke: 0.8px !important;
}

ion-icon[name*="icon-tab-bid"] {
    -webkit-text-stroke: 0.8px !important;
}

// import icon
@font-face {
    font-family: 'icomoon2';
    src: url('../assets/icon/icomoon/bid/fonts/icomoon.eot?2law6p');
    src: url('../assets/icon/icomoon/bid/fonts/icomoon.eot?2law6p#iefix') format('embedded-opentype'), url('../assets/icon/icomoon/bid/fonts/icomoon.ttf?2law6p') format('truetype'), url('../assets/icon/icomoon/bid/fonts/icomoon.woff?2law6p') format('woff'), url('../assets/icon/icomoon/bid/fonts/icomoon.svg?2law6p#icomoon2') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin makeIcon($arg,
$val) {
    .ion-ios-#{$arg}:before,
    .ion-ios-#{$arg}-circle:before,
    .ion-ios-#{$arg}-circle-outline:before,
    .ion-ios-#{$arg}-outline:before,
    .ion-md-#{$arg}:before,
    .ion-md-#{$arg}-circle:before,
    .ion-md-#{$arg}-circle-outline:before,
    .ion-md-#{$arg}-outline:before {
        font-family: "icomoon2" !important;
        content: $val;
        font-weight: bold;
    }
}

@include makeIcon(icon-bid-fill,
'\e914');
[class^="icon-bid-fill"],
[class*="icon-bid-fill"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon2' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bid-fill:before {
    content: "\e914";
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 4px;
}

// import icon
@font-face {
    font-family: 'icomoon3';
    src: url('../assets/icon/icomoon/time-one/fonts/icomoon.eot?2law6p');
    src: url('../assets/icon/icomoon/time-one/fonts/icomoon.eot?2law6p#iefix') format('embedded-opentype'), url('../assets/icon/icomoon/time-one/fonts/icomoon.ttf?2law6p') format('truetype'), url('../assets/icon/icomoon/time-one/fonts/icomoon.woff?2law6p') format('woff'), url('../assets/icon/icomoon/time-one/fonts/icomoon.svg?2law6p#icomoon3') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin makeIcon($arg,
$val) {
    .ion-ios-#{$arg}:before,
    .ion-ios-#{$arg}-circle:before,
    .ion-ios-#{$arg}-circle-outline:before,
    .ion-ios-#{$arg}-outline:before,
    .ion-md-#{$arg}:before,
    .ion-md-#{$arg}-circle:before,
    .ion-md-#{$arg}-circle-outline:before,
    .ion-md-#{$arg}-outline:before {
        font-family: "icomoon3" !important;
        content: $val;
        font-weight: bold;
    }
}

@include makeIcon(icon-time-one,
'\e900');
[class^="icon-time-one"],
[class*="icon-time-one"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon3' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-time-one:before {
    content: "\e900";
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 4px;
}

// import icon
@font-face {
    font-family: 'icomoon4';
    src: url('../assets/icon/icomoon/time-two/fonts/icomoon.eot?2law6p');
    src: url('../assets/icon/icomoon/time-two/fonts/icomoon.eot?2law6p#iefix') format('embedded-opentype'), url('../assets/icon/icomoon/time-two/fonts/icomoon.ttf?2law6p') format('truetype'), url('../assets/icon/icomoon/time-two/fonts/icomoon.woff?2law6p') format('woff'), url('../assets/icon/icomoon/time-two/fonts/icomoon.svg?2law6p#icomoon4') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin makeIcon($arg,
$val) {
    .ion-ios-#{$arg}:before,
    .ion-ios-#{$arg}-circle:before,
    .ion-ios-#{$arg}-circle-outline:before,
    .ion-ios-#{$arg}-outline:before,
    .ion-md-#{$arg}:before,
    .ion-md-#{$arg}-circle:before,
    .ion-md-#{$arg}-circle-outline:before,
    .ion-md-#{$arg}-outline:before {
        font-family: "icomoon4" !important;
        content: $val;
        font-weight: bold;
    }
}

@include makeIcon(icon-time-two,
'\e916');
[class^="icon-time-two"],
[class*="icon-time-two"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon4' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-time-two:before {
    content: "\e916";
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 4px;
}