// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url('https://fonts.googleapis.com/css?family=Kanit');
ion-app {
    font-family: 'Kanit', sans-serif !important;
}

.toolbar-title-md {
    text-align: center;
}

.toolbar-md ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    button {
        color: $app;
    }
}

.bar-button-default-ios,
.bar-button-default.bar-button-ios-default,
.bar-button-clear-ios-default {
    color: $app;
    background-color: transparent;
}

.bar-button-default-md,
.bar-button-default.bar-button-md-default,
.bar-button-clear-md-default {
    color: $app;
    background-color: transparent;
}

.toolbar-background {
    background: #ffffff !important;
}

.toolbar-title {
    color: $app !important;
}

.header-md::after {
    background-image: none !important;
}

.header-ios .toolbar-ios:last-child .toolbar-background-ios {
    border-width: 0px !important;
}

.tabs-ios .tab-button {
    -webkit-text-stroke: 1px !important;
}

.scroll-content {
    overflow: auto !important;
}

ion-footer {
    .toolbar-md {
        padding: 0px !important;
    }
    .toolbar-ios {
        padding: 0px !important;
    }
    .toolbar {
        min-height: 46px !important;
        max-height: 46px !important;
        padding-bottom: 4px !important;
        .button{
            height: 46px !important; 
        }
    }
}

.footer-md::before {
    background-image: none !important;
}

.button-md {
    border-radius: 0px !important;
}