search-input {
    .searchbar-ios .searchbar-input {
        background-color: #ffffff !important;
        border-radius: 10px !important;
    }
    .searchbar-ios {
        background: transparent !important;
        text-align: center;
        border-bottom: none !important;
    }
}