<!--
  Generated template for the PurchasesDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'DETAIL' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce>
  <div *ngIf="orderDetail.product">
    <div class="address">
      <ion-list mode="md" *ngIf="orderDetail.channel === 'bid'">
        <ion-item>
          <ion-label>
            <h2 no-padding class="bid">{{ 'BID' | translate : ''}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list mode="md">
        <ion-item>
          <ion-label *ngIf="orderDetail.status ==='confirm'">
            <h2>
              <b>{{ 'CREATE_ORDER_DATE' | translate }}</b>
            </h2>
            <p>{{ orderDetail.confirmdate | date:'dd-MM-yyyy HH:mm'}}</p>
          </ion-label>
          <ion-label *ngIf="orderDetail.status ==='sent'">
            <h2>
              <b>{{ 'SHIPPING_DATE' | translate }}</b>
            </h2>
            <p>{{ orderDetail.sentdate | date:'dd-MM-yyyy HH:mm'}}</p>
            <p *ngIf="orderDetail.refid">
              {{'REMARK_REFID' | translate}} {{orderDetail.refid}}
            </p>
          </ion-label>
          <ion-label *ngIf="orderDetail.status ==='completed'">
            <h2>
              <b>{{ 'RECEIPT_DATE' | translate }}</b>
            </h2>
            <p>{{ orderDetail.receiveddate | date:'dd-MM-yyyy HH:mm'}}</p>
            <p *ngIf="orderDetail.refid">
              {{'REMARK_REFID' | translate}} {{orderDetail.refid}}
            </p>
          </ion-label>
          <ion-label *ngIf="orderDetail.status ==='cancel' || orderDetail.status ==='reject' || orderDetail.status ==='cancelrefund' || orderDetail.status ==='rejectrefund' ||  orderDetail.status ==='admincancel'">
            <h2>
              <b>{{ 'CANCEL_DATE' | translate }}</b>
            </h2>
            <p>{{ orderDetail.canceldate | date:'dd-MM-yyyy HH:mm'}}</p>
            <p *ngIf="orderDetail.rejectreason">
              {{'REMARK' | translate}} {{orderDetail.rejectreason}}
            </p>
            <b class="cancel" *ngIf="orderDetail.status ==='cancel' || orderDetail.status ==='reject'">{{ 'CANCEL_RECEIPT_NOT' | translate }}</b>
            <b class="cancel" *ngIf="orderDetail.status ==='cancelrefund' || orderDetail.status ==='rejectrefund'">{{ 'CANCEL_RECEIPT' | translate }}</b>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div class="address">
      <ion-list mode="md">
        <ion-item>
          <ion-label>
            <h2>
              <b>{{ 'ORDER_NUMBER' | translate }}</b>
            </h2>
            <p>{{ orderDetail.docno }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div class="address">
      <ion-list mode="md">
        <ion-item>
          <ion-label>
            <h2>
              <b>{{ 'SHIPPING_ADDRESS' | translate }}</b>
            </h2>
            <p>{{ orderDetail.shipping.name }}</p>
            <p>{{ orderDetail.shipping.address }} {{ orderDetail.shipping.district}} {{ orderDetail.shipping.subdistrict}} {{
              orderDetail.shipping.province}} {{ orderDetail.shipping.postcode}}
            </p>
            <p>{{ orderDetail.shipping.tel }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div class="product-list">
      <ion-list mode="md">
        <ion-item>
          <ion-label>
            <h2>
              <b>{{ 'PRODUCT_LIST' | translate}}</b>
            </h2>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list class="item-product" mode="md">
        <ion-item>
          <ion-thumbnail item-start>
            <img src="{{ orderDetail.product.image }}">
            <!-- <preload-image class="products-image" [ratio]="{w:1, h:1}" [src]="item.product.images[0]"></preload-image> -->
          </ion-thumbnail>
          <ion-label stacked class="label-margin">
            <h2 class="product-name">{{ orderDetail.product.name }}</h2>
            <p>{{ orderDetail.product.price | number }} {{ 'THB' | translate }}</p>
            <p>{{ 'QTY' | translate }}: {{ orderDetail.product.qty }}</p>
            <p>{{ 'SHIPPING_TYPE' | translate }}: {{ orderDetail.product.shippingtype }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div class="total">
      <ion-list mode="md">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <h2>
                  <b>{{ 'TOTAL_FEE' | translate }}</b>
                </h2>
              </ion-col>
              <ion-col col-6 text-right>
                <h2>
                  <b>{{ orderDetail.amount | number }} {{ 'THB' | translate }}</b>
                </h2>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="orderDetail.discount">
              <ion-col col-6>
                <h2>
                  <b>{{ 'DISCOUNT' | translate }}</b>
                </h2>
              </ion-col>
              <ion-col col-6 text-right>
                <h2>
                  <b>{{ orderDetail.discount | number }} {{ 'THB' | translate }}</b>
                </h2>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6>
                <h2>
                  <b>{{ 'DELIVERY_PRICE' | translate }}</b>
                </h2>
              </ion-col>
              <ion-col col-6 text-right>
                <h2>
                  <b>{{ orderDetail.product.shippingprice | number}} {{ 'THB' | translate }}</b>
                </h2>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6>
                <h2>
                  <b>{{ 'TOTAL_AMOUNT' | translate }}</b>
                </h2>
              </ion-col>
              <ion-col col-6 text-right>
                <h2>
                  <b>{{ (orderDetail.amount + orderDetail.product.shippingprice) | number}} {{ 'THB' | translate }}</b>
                </h2>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div>

    <div class="log">
      <ion-list mode="md">
        <ion-item *ngIf="orderDetail.confirmdate">
          <ion-label>
            <ion-row>
              <ion-col col-6>
                <p text-left>{{ 'CREATE_ORDER_DATE' | translate }}</p>
              </ion-col>
              <ion-col col-6>
                <p text-right>{{ orderDetail.confirmdate | date:'dd-MM-yyyy HH:mm'}}</p>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="orderDetail.sentdate">
          <ion-label>
            <ion-row>
              <ion-col col-6>
                <p text-left>{{ 'SHIPPING_DATE' | translate }}</p>
              </ion-col>
              <ion-col col-6>
                <p text-right>{{ orderDetail.sentdate | date:'dd-MM-yyyy HH:mm'}}</p>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="orderDetail.receiveddate">
          <ion-label>
            <ion-row>
              <ion-col col-6>
                <p text-left>{{ 'RECEIPT_DATE' | translate }}</p>
              </ion-col>
              <ion-col col-6>
                <p text-right>{{ orderDetail.receiveddate | date:'dd-MM-yyyy HH:mm'}}</p>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="orderDetail.canceldate">
          <ion-label>
            <ion-row>
              <ion-col col-6>
                <p text-left>{{ 'CANCEL_DATE' | translate }}</p>
              </ion-col>
              <ion-col col-6>
                <p text-right>{{ orderDetail.canceldate | date:'dd-MM-yyyy HH:mm'}}</p>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>

<ion-footer>
  <button *ngIf="orderDetail.status === 'confirm'" color="danger" ion-button block (click)="cancelorder()">{{ 'CANCEL_ITEM' | translate }}</button>
  <button *ngIf="orderDetail.status === 'sent'" color="secondary" ion-button block (click)="received()">{{ 'ON_RECEIPT' | translate }}</button>
</ion-footer>
