page-bid-detail {
    .scroll-margin {
        .scroll-content {
            margin-bottom: 100px !important;
        }
    }
    .padding {
        padding: 10px !important;
    }
    .bid-name {
        margin-top: 0px !important;
        font-weight: bold;
    }
    .arvatar-slide {
        object-fit: cover;
        width: 100vw !important;
    }
    .danger {
        color: #f44336;
    }
    .time {
        padding: 2px !important;
    }
    .sub-time {
        background-color: #f6f5f5;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        div{
            width: 100%;
        }
    }
    .time-magin {
        margin-top: 0px;
    }
    .swiper-pagination-bullet-active {
        background: $app;
        opacity: 1;
    }
    .magin-p {
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
    }
    .padding-style {
        padding: 0px 8px 8px 8px;
        .col {
            padding: 0px;
        }
    } // 
    .width-100 {
        width: 100%;
    }
    .image-user {
        width: 50%;
        border-radius: 100%;
    }
    .title {
        font-size: 1.2em;
        margin: 0px;
    }
    .discription {
        color: $app !important;
        font-weight: bold;
        font-size: 1.5em;
        margin: 0px;
    }
    .card-header {
        padding: 10px !important;
        background-color: #f6f5f5;
    }
    .card-content {
        padding: 0px 16px;
        max-height: 0px;
        border: 1px solid #f6f5f5;
        ;
    }
    .card {
        box-shadow: none !important;
        margin: 4px 0px 0px 0px !important;
        width: 100%;
    }
    .exp {
        position: absolute;
        right: 26px;
        font-size: 1.5em;
    }
    h2 {
        margin-top: 6px !important;
    }
    .list-row {
        width: 100%;
    }
    .row-bid {
        margin-top: 8px;
    }
    .vl {
        border-left: 1px solid #f6f5f5;
        height: auto;
    }
    .col-cs-bid {
        margin-left: -2px;
        border-top: 2px solid #f6f5f5;
        border-bottom: 2px solid #f6f5f5;
    }
    .bid-title {
        margin: 0px 0px 8px 0px;
        font-size: 22px;
    }
    .bid-price {
        margin: 0px 0px 8px 0px;
        font-size: 22px;
        font-weight: bold;
        color: $app;
    }
    .list-custom {
        width: 200px !important;
        position: absolute !important;
        left: 50% !important;
        top: 50px;
        margin-left: -100px !important;
        border: 2px solid $app;
        border-radius: 100px;
        height: 65px !important;
        .item {
            border-radius: 100px;
            height: 60px !important;
            padding: 0px 0px 0px 4px !important;
        }
        .item-inner {
            text-align: center;
            margin-left: -4px !important;
        }
        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
        }
    }
    .margin-top {
        margin-top: 16px;
    }
    .no-margin {
        margin: 0px !important;
    }
    .height-60 {
        height: 60px;
    }
}

@keyframes blink {
    0% {
        color: #FFFFFF;
    }
    100% {
        color: #488aff;
    }
}

@-webkit-keyframes blink {
    0% {
        color: #FFFFFF;
    }
    100% {
        color: #488aff;
    }
}

.blink {
    -webkit-animation: blink 1.2s linear infinite;
    -moz-animation: blink 1.2s linear infinite;
    animation: blink 1.2s linear infinite;
    font-size: 1.5em;
    .button-inner {
        margin-left: -10px;
    }
}