<ion-header>

  <ion-navbar>
    <ion-title>{{ 'BID' | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-bounce>

  <ion-row class="padding-style-min row-bid" *ngIf="bidDetailData.product.name && bidDetailData.isBid">
    <ion-col col-6 text-center class="time danger">
      <div class="sub-time height-60">
        <div class="list-row">
          <ion-row class="list-row">
            <ion-col col-12 class="time danger">
              <div class="sub-time">
                <div>
                  <h4 class="no-margin">{{ 'TIME_LEFT' | translate }}</h4>
                  <h4 class="no-margin">{{bidDetailData.timeleft}}</h4>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-col>
    <ion-col col-6 class="time">
      <div class="sub-time">
        <ion-row class="list-row">
          <ion-col col-12 text-center>
            <div class="sub-time">
              <div>
                <img *ngIf="bidDetailData.currentuser.profileImageURL" src="{{bidDetailData.currentuser.profileImageURL}}" class="image-user">
                <h2 class="title">{{ 'BID_CURRENT' | translate }}</h2>
                <p class="discription">{{ bidDetailData.price | number}} {{ 'THB' | translate }}</p>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="padding-style-min" *ngIf="bidDetailData.product.name && !bidDetailData.isBid">
    <ion-col col-12 text-center class="time">
      <div class="sub-time">
        <div class="width-100">
          <h2>{{ 'TIME_BID' | translate }}</h2>
          <ion-row>
            <ion-col col-6>
              <h2 class="time-magin discription">{{bidDetailData.datestart | date: 'dd/MM/yy'}}</h2>
            </ion-col>
            <ion-col col-6>
              <h2 class="time-magin discription">{{ getTimeOnly(bidDetailData.datestart) }} - {{getTimeOnly(bidDetailData.dateend)}}</h2>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <div class="{{ (bidDetailData && bidDetailData.isBid) ? 'scroll-margin':'scroll-margin-none'}}">
    <div *ngIf="bidDetailData.product.name">
      <ion-grid no-padding>
        <ion-row no-padding>
          <ion-col col-12>
            <ion-slides pager>
              <ion-slide *ngFor="let item of bidDetailData.product.images">
                <img src="{{item}}" class="arvatar-slide">
              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 class="padding">
            <h2 class="bid-name">{{bidDetailData.product.name}}</h2>
            <ion-card *ngIf="bidDetailData.product.detail">
              <ion-card-header (click)="toggleAddccoding()">
                {{ 'VIEW_DETAIL' | translate }}
                <ion-icon color="success" item-end class="exp" [name]="accordion ? 'ios-arrow-dropdown-outline' : 'ios-arrow-dropright-outline'"></ion-icon>
              </ion-card-header>

              <ion-card-content #cont>
                {{bidDetailData.product.detail}}
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>


        <ion-row class="padding-style row-bid">

          <ion-col no-padding col-6 text-center class="col-cs-bid">
            <p class="bid-title">{{ 'START_PRICE' | translate }}</p>
            <p class="bid-price">{{ bidDetailData.pricestart | number}} {{ 'THB' | translate }}</p>
          </ion-col>
          <div class="vl"></div>
          <ion-col no-padding col-6 text-center class="col-cs-bid">
            <p class="bid-title">{{ 'PLACE_BID' | translate }}</p>
            <p class="bid-price">{{ bidDetailData.pricebid | number}} {{ 'THB' | translate }}</p>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="bidDetailData.isBid">
    <button ion-button block color="primary" class="blink" (click)="doBid()">
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <ion-icon name="icon-tab-bid"></ion-icon>
            <span>{{bidDetailData.price + bidDetailData.pricebid | number}}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </button>
  </ion-toolbar>
</ion-footer>
