page-bid-detail {
    .padding {
        padding: 10px !important;
    }
    .col-shop {
        height: 70px;
    }
    img {
        object-fit: cover;
    }
    .list-shop-name {
        height: 40px;
    }
    .bid-name {
        margin-top: 0px !important;
        font-weight: bold;
    }
    .arvatar-slide {
        object-fit: cover;
        width: 100vw !important;
    }
    .danger {
        color: #f44336;
    }
    .time {
        padding: 2px !important;
    }
    .sub-time {
        background-color: #f6f5f5;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
    }
    .time-magin {
        margin-top: 0px;
    }
    .swiper-pagination-bullet-active {
        background: $app;
        opacity: 1;
    }
    .magin-p {
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
    }
    .padding-style {
        padding: 0px 8px 8px 8px;
        .col {
            padding: 0px;
        }
    } // 
    .width-100 {
        width: 100%;
    }
    .image-user {
        width: 30%;
        border-radius: 100%;
    }
    .title {
        font-size: 1.2em;
        margin: 0px;
    }
    .discription {
        color: $app !important;
        font-weight: bold;
        font-size: 1.5em;
        margin: 0px;
    }
    .card-header {
        padding: 10px !important;
        background-color: #f6f5f5;
    }
    .card-content {
        padding: 0px 16px;
        max-height: 0px;
        border: 1px solid #f6f5f5;
        ;
    }
    .card {
        box-shadow: none !important;
        height: 95%;
        margin: 4px 0px 0px 0px !important;
        width: 100%;
    }
    .exp {
        position: absolute;
        right: 26px;
        font-size: 1.5em;
    }
    h2 {
        margin-top: 6px !important;
    }
}

@keyframes blink {
    0% {
        color: #488aff;
    }
    100% {
        color: #FFFFFF;
    }
}

@-webkit-keyframes blink {
    0% {
        color: #488aff;
    }
    100% {
        color: #FFFFFF;
    }
}

.blink {
    -webkit-animation: blink 1.5s linear infinite;
    -moz-animation: blink 1.5s linear infinite;
    animation: blink 1.5s linear infinite;
    font-size: 1.5em;
    .button-inner {
        margin-left: -10px;
    }
}