page-step-order {
    .scroll-content {
        overflow-y: hidden !important;
    }
    .header-segment {
        height: 90px !important;
        position: fixed;
        z-index: 999;
        background-color: #ffffff !important;
        .segment-ios .segment-button {
            border-top-left-radius: 100% !important;
            border-top-right-radius: 100% !important;
            border-bottom-right-radius: 100% !important;
            border-bottom-left-radius: 100% !important;
            opacity: 1 !important;
            background-color: rgb(248, 248, 248);
            padding: 4px;
        }
        .toolbar-ios .segment-ios {
            position: inherit !important;
        }
        .segment-ios-light .segment-button {
            border: 1px solid;
            line-height: 2rem !important;
            color: #cecece;
            border-color: #cecece;
        }
        .segment-md .segment-button {
            border-top-left-radius: 100%;
            border-top-right-radius: 100%;
            border-bottom-right-radius: 100%;
            border-bottom-left-radius: 100%;
            opacity: 1 !important;
            background-color: rgb(248, 248, 248);
        }
        .segment-md-light .segment-button {
            border: 1px solid;
            color: #cecece;
        }
        .active {
            background-color: #fff !important;
            border: 1px solid !important;
            border-color: #6ddb9c;
            color: #6ddb9c !important;
            opacity: 1 !important;
        }
        ion-segment {
            width: 40px !important;
            height: 40px !important;
            margin: 0 auto !important;
            p {
                display: block;
                position: absolute;
                font-size: 11px;
                width: 100%;
                left: 0px;
                bottom: -30px;
            }
        }
        ion-segment-button {
            width: 40px !important;
            height: 40px !important;
            font-size: 11px !important;
            z-index: 999 !important;
        }
    }
    ion-col {
        text-align: center !important;
        .lines {
            margin-top: 20px !important;
            left: -50%;
            width: 200%;
            border: rgba(192, 192, 192, 0.48) 1px solid;
            position: absolute;
        }
        .active-lines {
            margin-top: 20px !important;
            left: -50%;
            width: 200%;
            border: #6ddb9c 1px solid;
            position: absolute;
        }
    }
    ion-slides {
        display: block;
        width: 100%;
        height: 72vh !important;
        margin-top: 100px;
    }
    ion-slide {
        height: 72vh !important;
        background-color: #ffffff !important;
        align-items: flex-start !important;
        .scroll-content {
            overflow-y: auto !important;
        }
    }
    ion-scroll {
        // position: inherit;
        // display: block; // height: 100vh;
        height: 72vh !important;
    }
    .checkout-address {
        padding: 8px;
        margin-bottom: 20px;
        margin-top: 16px;
        ion-list {
            margin: 8px 0px 8px 0px !important;
        }
        ion-item {
            color: #6d6d6d !important;
            border: 1px solid #f8f8f8;
            padding: 0px !important;
            ion-label {
                margin-left: 18px !important;
                word-break: break-all;
                white-space: normal;
                p {
                    margin-bottom: 2px !important;
                }
            }
        }
        .item-cover {
            padding: 0px !important;
        }
        .btn-del {
            position: absolute;
            padding: 0px;
            height: auto;
            top: 0px;
            right: 0px;
            z-index: 999;
            ion-icon {
                font-size: 1.8em;
            }
        } // .radio-icon {
        //     display: none !important;
        // }
        ion-radio {
            margin: 0px 0px 0px 8px !important;
        }
        .addresscssClass {
            z-index: 1;
            height: 30px;
            opacity: 0.7;
        }
    }
    .checkout-product-shipping {
        padding: 0px 8px 8px 8px !important;
        margin-bottom: 30px;
        margin-top: 16px;
        .product {
            margin-top: 6px;
            border: 3px solid #f5f5f5;
            .product-name {
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .list-item {
                margin: 0px 0px 0px 0px;
            }
            .label-md[stacked] {
                color: #000;
            }
            .item {
                padding-left: 6px !important;
            }
            .input-cover {
                height: 0px;
            }
            ion-select {
                max-width: 70% !important;
            }
            .shipping {
                .item {
                    background-color: #f5f5f5;
                }
                margin-bottom: 0px;
            }
        }
    }
    .checkout-payment {
        padding: 8px !important;
        margin-top: 16px;
        .bankingcssClass {
            position: absolute;
            z-index: 1;
            height: 30px;
            opacity: 0.7;
            top: 0;
            right: 0;
        }
        .banking-padding {
            padding-left: 0px !important;
            .img-banking {
                width: 15vw;
            }
        }
        .img-size {
            max-width: 30%;
        }
        .font-payment {
            font-size: 4vw;
            margin-left: -4px;
        }
        .radio {
            margin: 0px !important;
        }
        .radio-icon {
            display: none !important;
        }
        .item {
            padding-right: 16px !important;
        }
        .item-inner {
            font-weight: 600 !important;
            padding: 0px !important;
        }
        .item-radio-checked.item ion-label.size {
            color: #6ddb9c;
        }
        .item-radio-checked.item {
            .item-cover {
                border: 1px solid #6ddb9c;
            }
        }
        .color {
            width: 22px !important;
            height: 22px !important;
            position: absolute;
        }
        .label {
            margin: 8px 0px 8px 0 !important;
        }
        .cssClass {
            position: absolute;
            z-index: 1;
            height: 30%;
            opacity: 0.7;
            top: 2px;
            right: 2px;
        }
        .payment-type {
            padding: 0px 0px 0px 0px !important;
            margin: 0px 0px 8px 0px !important;
            .item {
                padding: 0px !important;
            }
        }
        .item-label-stacked .text-input,
        .item-label-floating .text-input {
            margin-left: 0;
            margin-top: -10px;
            margin-bottom: 2px;
            width: calc(100% - 8px);
        }
        .input-list {
            ion-label {
                span {
                    color: #F44336;
                }
            }
        }
    }
    .checkout-confirm {
        background-color: #f8f8f8 !important;
        margin-top: 16px;
        .confirm-bank {
            width: 45%;
        }
        .payment {
            margin-bottom: 8px !important;
            .list {
                margin: 0px !important;
            }
            .item-detail {
                padding: 0px !important;
            }
        }
        .coupon {
            margin-bottom: 8px !important;
            .list {
                margin: 0px !important;
            }
        }
        .btn-coupon {
            display: flex !important;
            align-items: flex-end !important;
        }
        .total {
            ion-item {
                padding: 0px 0px 30px 6px;
            }
            .item-inner {
                padding: 0px !important;
            }
        }
        .address {
            ion-list {
                margin: 0px 0px 8px 0px !important;
            }
            ion-item {
                padding: 0px !important;
                ion-label {
                    margin-left: 18px !important;
                    word-break: break-all;
                    white-space: normal;
                    p {
                        margin-bottom: 2px !important;
                    }
                }
            }
            .item-cover {
                padding: 0px !important;
            }
        }
        .product-list {
            .label-margin {
                margin-top: 2px;
            }
            .item-product {
                margin-top: -16px;
                margin-bottom: 8px;
            }
            .product-name {
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

.popover-content {
    right: 8px !important;
    left: inherit !important;
    width: auto !important;
}

.confirm {
    font-weight: bold !important;
}

.cancel {
    color: #F44336 !important;
    font-weight: 100 !important;
}