<ion-header>

  <ion-navbar>
    <ion-title>{{ 'ORDER' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce>
  <ion-grid class="header-segment">
    <ion-row>
      <ion-col text-center>
        <ion-segment color="light" [(ngModel)]="tabs" (click)="gotoSlides(0)">
          <ion-segment-button [ngClass]="tabs >= 0 ? 'active' : '' ">
            <ion-icon name="ios-pin-outline"></ion-icon>
          </ion-segment-button>
          <p>{{ 'SHIPPING_ADDRESS' | translate }}</p>
        </ion-segment>
      </ion-col>
      <ion-col text-center>
        <div class="lines" [ngClass]="tabs >= 1 ? 'active-lines' : '' "></div>
      </ion-col>
      <ion-col text-center>
        <ion-segment color="light" [(ngModel)]="tabs" (click)="gotoSlides(1)">
          <ion-segment-button [ngClass]="tabs >= 1 ? 'active' : '' ">
            <ion-icon name="ios-document-outline"></ion-icon>
          </ion-segment-button>
          <p>{{ 'SHIPPING' | translate }}</p>
        </ion-segment>
      </ion-col>
      <ion-col text-center>
        <div class="lines" [ngClass]="tabs >= 2 ? 'active-lines' : '' "></div>
      </ion-col>
      <ion-col text-center>
        <ion-segment color="light" [(ngModel)]="tabs" (click)="gotoSlides(2)">
          <ion-segment-button [ngClass]="tabs >= 2 ? 'active' : '' ">
            <ion-icon name="ios-card-outline"></ion-icon>
          </ion-segment-button>
          <p>{{ 'PAYMENT' | translate }}</p>
        </ion-segment>
      </ion-col>
      <ion-col text-center>
        <div class="lines" [ngClass]="tabs >= 3 ? 'active-lines' : '' "></div>
      </ion-col>
      <ion-col text-center>
        <ion-segment color="light" [(ngModel)]="tabs" (click)="gotoSlides(3)">
          <ion-segment-button [ngClass]="tabs >= 3 ? 'active' : '' ">
            <ion-icon name="md-checkmark"></ion-icon>
          </ion-segment-button>
          <p>{{ 'CONFIRM' | translate }}</p>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- slides -->
  <ion-slides #formWizard (ionSlideWillChange)="changeWillSlide($event)">
    <!-- 1 -->
    <ion-slide>
      <ion-scroll scrollY>
        <div class="checkout-address">
          <ion-grid no-padding>
            <ion-row no-padding>
              <ion-col col-12 no-padding>
                <button ion-button color="app" block small outline (click)="openGoogleMap()">
                  <ion-icon name="md-add"></ion-icon> &nbsp;
                  <b>{{ 'NEW_ADDRESS' | translate }}</b>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-list mode="md" radio-group *ngFor="let address of shippingAddress; let i = index;" (tap)="selectedAddress(i)">
            <ion-item>
              <ion-label>
                <p>{{ address.name }}</p>
                <p *ngIf="address.address">
                  {{ address.address.address }} {{ address.address.district }} {{ address.address.subdistrict }} {{ address.address.province
                  }} {{ address.address.postcode }}
                </p>
                <p>{{ address.tel }}</p>
                <button ion-button clear color="dark" class="btn-del" (tap)="removeItem(i)">
                  <ion-icon name="ios-trash"></ion-icon>
                </button>
              </ion-label>
              <ion-radio [value]="address" [checked]="i === shippingAddressIndex" item-start></ion-radio>
            </ion-item>
          </ion-list>
        </div>
      </ion-scroll>
    </ion-slide>
    <!-- 2 -->
    <ion-slide>
      <ion-scroll scrollY>
        <!-- bid -->
        <div class="checkout-product-shipping" *ngIf="channel === 'bid'">
          <div class="product" *ngFor="let item of order.itemsbid">
            <ion-list mode="md" class="list-item">
              <ion-item>
                <ion-thumbnail item-start>
                  <preload-image class="products-image" [ratio]="{w:1, h:1}" [src]="item.bid.image[0]"></preload-image>
                </ion-thumbnail>
                <ion-label stacked>
                  <h2 class="product-name">{{item.bid.name}}</h2>
                  <p>{{item.bid.price | number}} {{ 'THB' | translate }}</p>
                  <p>{{ 'QTY' | translate }}: {{item.qty}}</p>
                </ion-label>
              </ion-item>
            </ion-list>
            <ion-list mode="md" class="shipping">
              <ion-item>
                <ion-label>{{ 'SHIPPING_TYPE' | translate }}</ion-label>
                <ion-select interface="popover" placeholder="{{ 'PLEASE_SELECT_SHIPPING_TYPE' | translate }}" okText="{{ 'OK' | translate }}"
                  cancelText="{{ 'CANCEL' | translate }}" [(ngModel)]="item.shipping" (ionChange)="checkSelectShipping()">
                  <ion-option *ngFor="let shipping of item.bid.shippings" [value]="shipping">{{shipping.ref.name}} ({{shipping.price}} บาท)</ion-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </div>
        </div>
        <!-- order -->
        <div class="checkout-product-shipping" *ngIf="channel === 'order'">
          <div class="product" *ngFor="let item of order.items">
            <ion-list mode="md" class="list-item">
              <ion-item>
                <ion-thumbnail item-start>
                  <preload-image class="products-image" [ratio]="{w:1, h:1}" [src]="item.product.images[0]"></preload-image>
                </ion-thumbnail>
                <ion-label stacked>
                  <h2 class="product-name">{{item.product.name}}</h2>
                  <p>{{item.product.price | number}} {{ 'THB' | translate }}</p>
                  <p>{{ 'QTY' | translate }}: {{item.qty}}</p>
                </ion-label>
              </ion-item>
            </ion-list>
            <ion-list mode="md" class="shipping">
              <ion-item>
                <ion-label>{{ 'SHIPPING_TYPE' | translate }}</ion-label>
                <ion-select interface="popover" placeholder="{{ 'PLEASE_SELECT_SHIPPING_TYPE' | translate }}" okText="{{ 'OK' | translate }}"
                  cancelText="{{ 'CANCEL' | translate }}" [(ngModel)]="item.shipping" (ionChange)="checkSelectShipping()">
                  <ion-option *ngFor="let shipping of item.product.shippings" [value]="shipping">{{shipping.ref.name}} ({{shipping.price}} บาท)</ion-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-scroll>
    </ion-slide>
    <!-- 3 -->
    <ion-slide>
      <div class="checkout-payment">
        <ion-row radio-group [(ngModel)]="paymentType">
          <ion-col col-4 class="payment-type">
            <ion-item text-center>
              <ion-label>
                <img src="./assets/imgs/logo/sign-check-icon.png" *ngIf="paymentType === '1'" class="cssClass">
                <img src="./assets/imgs/payment/credit-card.png" class="img-size">
                <br>
                <span class="font-payment">{{ 'CREDIT_CARDS' | translate }}</span>
              </ion-label>
              <ion-radio value="1"></ion-radio>
            </ion-item>
          </ion-col>
          <!-- <ion-col col-4 class="payment-type"> -->
          <!-- <ion-item text-center>
              <ion-label>
                <img src="./assets/imgs/logo/sign-check-icon.png" *ngIf="paymentType === '2'" class="cssClass">
                <img src="./assets/imgs/payment/bank.png" class="img-size">
                <br>
                <span class="font-payment">บัญชีธนาคาร</span>
              </ion-label>
              <ion-radio value="2"></ion-radio>
            </ion-item> -->
          <!-- </ion-col> -->
        </ion-row>

        <ion-list class="input-list" *ngIf="paymentType === '1'">
          <ion-item>
            <ion-label floating>{{ 'CARD_NUMBER' | translate }}
              <span>*</span>
            </ion-label>
            <ion-input type="number" [(ngModel)]="paymentDetail.creditno" (ionChange)="creditFormat()"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>{{ 'CARD_HOLDER' | translate }}
              <span>*</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="paymentDetail.creditname"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>{{ 'EXPIRED_DATE' | translate }}(mm/yy)
              <span>*</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="paymentDetail.expdate" (ionChange)="creditFormat()"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>CVC
              <span>*</span>
            </ion-label>
            <ion-input type="password" [(ngModel)]="paymentDetail.creditcvc" (ionChange)="creditFormat()"></ion-input>
          </ion-item>
          <ion-row no-padding>
            <ion-col col-6 no-padding>
            </ion-col>
            <ion-col col-6 no-padding>
            </ion-col>
          </ion-row>
        </ion-list>

        <div *ngIf="paymentType === '2'">
          <ion-grid no-padding>
            <ion-row radio-group [(ngModel)]="bankingType">
              <ion-col col-12 *ngFor="let item of bankData; let i = index">
                <ion-item>
                  <ion-avatar item-left>
                    <img src="{{item.image}}" class="img-banking">
                  </ion-avatar>
                  <ion-label>
                    <p>{{item.name | translate}}</p>
                  </ion-label>
                  <ion-radio value="{{i}}"></ion-radio>
                  <img src="./assets/imgs/logo/sign-check-icon.png" *ngIf="bankingType === i+''" item-end class="bankingcssClass">
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <!-- <div *ngIf="formWizard._activeIndex === 2">
          <ion-row no-padding>
            <ion-col col-6 no-padding>
              <button ion-button full color="danger" (click)="slidePrev()">{{ 'PREV' | translate}}</button>
            </ion-col>
            <ion-col col-6 no-padding>
              <button color="app" ion-button block [disabled]="paymentType === '1' ? paymentDetail.creditno === '' || paymentDetail.creditname === '' || paymentDetail.expdate === '' || paymentDetail.creditcvc === null : bankingType === ''"
                (click)="slideNext()">{{ 'CONFIRM' | translate}}</button>
            </ion-col>
          </ion-row>
        </div> -->
      </div>
    </ion-slide>
    <!-- 4 -->
    <ion-slide>
      <ion-scroll scrollY>
        <div class="checkout-confirm">
          <div class="address" *ngIf="order.shippingAddress && order.shippingAddress.address">
            <ion-list mode="md">
              <ion-item>
                <ion-label>
                  <h2>
                    <b>{{ 'SHIPPING_ADDRESS' | translate }}</b>
                  </h2>
                  <p>{{ order.shippingAddress.name }}</p>
                  <p>
                    {{ order.shippingAddress.address.address }} {{ order.shippingAddress.address.district }} {{ order.shippingAddress.address.subdistrict
                    }} {{ order.shippingAddress.address.province }} {{ order.shippingAddress.address.postcode }}
                  </p>
                  <p>{{ order.shippingAddress.tel }}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>

          <div class="product-list">
            <ion-list mode="md">
              <ion-item>
                <ion-label>
                  <h2>
                    <b>{{ 'PRODUCT_LIST' | translate }}</b>
                  </h2>
                </ion-label>
              </ion-item>
            </ion-list>
            <!-- bid -->
            <ion-list class="item-product" mode="md" *ngIf="channel === 'bid'">
              <ion-item *ngFor="let item of order.itemsbid">
                <ion-thumbnail item-start>
                  <preload-image class="products-image" [ratio]="{w:1, h:1}" [src]="item.bid.image[0]"></preload-image>
                </ion-thumbnail>
                <ion-label stacked class="label-margin">
                  <h2 class="product-name">{{ item.bid.name }}</h2>
                  <p>{{ item.bid.price }} {{ 'THB' | translate }}</p>
                  <p>{{ 'QTY' | translate }}: {{ item.qty }}</p>
                  <p *ngIf="item.shipping">{{ 'SHIPPING_TYPE' | translate }}: {{ item.shipping.ref.name }} ({{ item.shipping.price }} {{ 'THB' | translate
                    }})
                  </p>
                </ion-label>
              </ion-item>
            </ion-list>
            <!-- order -->
            <ion-list class="item-product" mode="md" *ngIf="channel === 'order'">
              <ion-item *ngFor="let item of order.items">
                <ion-thumbnail item-start>
                  <preload-image class="products-image" [ratio]="{w:1, h:1}" [src]="item.product.images[0]"></preload-image>
                </ion-thumbnail>
                <ion-label stacked class="label-margin">
                  <h2 class="product-name">{{ item.product.name }}</h2>
                  <p>{{ item.product.price }} {{ 'THB' | translate }}</p>
                  <p>{{ 'QTY' | translate }}: {{ item.qty }}</p>
                  <p *ngIf="item.shipping">{{ 'SHIPPING_TYPE' | translate }}: {{ item.shipping.ref.name }} ({{ item.shipping.price }} {{ 'THB' | translate
                    }})
                  </p>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
          <div class="payment">
            <ion-list mode="md">
              <ion-item>
                <ion-label>
                  <h2>
                    <b>{{ 'PAYMENT' | translate }}</b>
                  </h2>
                  <ion-row>
                    <ion-col col-12 text-cenetr>
                      <ion-item class="item-detail" *ngIf="bankingType && order.payment.paymenttype === 'Internet banking'">
                        <ion-avatar item-left>
                          <img src="{{ bankData[bankingType].image }}">
                        </ion-avatar>
                        <p>{{bankData[bankingType].name | translate}}</p>
                      </ion-item>
                      <ion-item class="item-detail" *ngIf="paymentType && order.payment.paymenttype === 'Credit card'">
                        <p>
                          <b>{{ 'CREDIT_CARDS' | translate }}</b>
                        </p>
                        <p>{{order.payment.creditno}}</p>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
          <div class="coupon">
            <ion-list mode="md">
              <ion-item>
                <ion-label>
                  <h2>
                    <b>{{ 'COUPON' | translate }}</b>
                  </h2>
                  <ion-row>
                    <ion-col col-9>
                      <ion-item>
                        <ion-input type="text" placeholder="{{ 'COUPON' | translate }}" [(ngModel)]="couponCode"></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col col-3 class="btn-coupon">
                      <button ion-button block (click)="getCoupon()">{{ 'COUPON_APPLY' | translate }}</button>
                    </ion-col>
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
          <div class="total">
            <ion-list mode="md">
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col col-6 text-left>
                      <h2>
                        <b>{{ 'TOTAL_FEE' | translate }}</b>
                      </h2>
                    </ion-col>
                    <ion-col col-6 text-right>
                      <h2>
                        <b>{{ order.amount | number }} {{ 'THB' | translate }}</b>
                      </h2>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-6 text-left>
                      <h2>
                        <b>{{ 'DELIVERY_FEE' | translate }}</b>
                      </h2>
                    </ion-col>
                    <ion-col col-6 text-right>
                      <h2>
                        <b>{{ order.shippingamount | number }} {{ 'THB' | translate }}</b>
                      </h2>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="order.discountamount">
                    <ion-col col-6 text-left>
                      <h2>
                        <b>{{ 'DISCOUNT' | translate }}</b>
                      </h2>
                    </ion-col>
                    <ion-col col-6 text-right>
                      <h2>
                        <b>{{ order.discountamount | number }} {{ 'THB' | translate }}</b>
                      </h2>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-6 text-left>
                      <h2>
                        <b>{{ 'TOTAL_AMOUNT' | translate }}</b>
                      </h2>
                    </ion-col>
                    <ion-col col-6 text-right>
                      <h2>
                        <b>{{ order.totalamount | number }} {{ 'THB' | translate }}</b>
                      </h2>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-scroll>
    </ion-slide>
  </ion-slides>

</ion-content>

<ion-footer *ngIf="formWizard._activeIndex === 0">
  <button color="app" ion-button block [disabled]="!order.shippingAddress || !order.shippingAddress.name" (click)="slideNext()">{{ 'SHIPPING' | translate }}</button>
</ion-footer>

<ion-footer *ngIf="formWizard._activeIndex === 1">
  <ion-row no-padding>
    <ion-col col-6 no-padding>
      <button ion-button full color="danger" (click)="slidePrev()">{{ 'PREV' | translate }}</button>
    </ion-col>
    <ion-col col-6 no-padding>
      <button color="app" ion-button block [disabled]="isSelectShipping" (click)="slideNext()">{{ 'PAYMENT' | translate }}</button>
    </ion-col>
  </ion-row>
</ion-footer>

<ion-footer *ngIf="formWizard._activeIndex === 2">
  <ion-row no-padding>
    <ion-col col-6 no-padding>
      <button ion-button full color="danger" (click)="slidePrev()">{{ 'PREV' | translate}}</button>
    </ion-col>
    <ion-col col-6 no-padding>
      <button color="app" ion-button block [disabled]="paymentType === '1' ? paymentDetail.creditno === '' || paymentDetail.creditname === '' || paymentDetail.expdate === '' || paymentDetail.creditcvc === null : bankingType === ''"
        (click)="slideNext()">{{ 'CONFIRM' | translate}}</button>
    </ion-col>
  </ion-row>
</ion-footer>

<ion-footer *ngIf="formWizard._activeIndex === 3">
  <ion-row no-padding>
    <ion-col col-6 no-padding>
      <button ion-button full color="danger" (click)="slidePrev()">{{ 'PREV' | translate }}</button>
    </ion-col>
    <ion-col col-6 no-padding>
      <button color="app" ion-button block (click)="clickConfirmed()">{{ 'CONFIRM_ORDER' | translate }}</button>
    </ion-col>
  </ion-row>
</ion-footer>
